@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    /* height: 100%; */
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* overflow-x: hidden; */
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*----------------------------------------------------------------------------------------------------*/
body {
    margin: 0 auto;
    font-family: "gothamPro__light";
    overflow-x: hidden;
    background: #c0c0c0;
}
h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
}
h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    color: #ffffff;
}
h5 {
    font-family: "gothamPro__black";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 122.2%;
    color: #000000;
}
h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.1em;
    /* text-transform: uppercase; */
}
.wrapper {
    position: relative;
    width: 1360px;
    margin: 0 auto;
}
@media screen and (max-width: 1399.98px) {
    .wrapper {
        width: 1200px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1199.98px) {
    .wrapper {
        width: 992px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 768px;
    }
}
@media (max-width: 767.98px) {
    .wrapper {
        width: 576px;
    }
}
@media (max-width: 575.98px) {
    .wrapper {
        width: 360px;
    }
}
@media (max-width: 400.98px) {
    .wrapper {
        width: 320px;
    }
}
.header_hidden {
    transform: translateY(-100%);
}
.menu_hidden {
    display: none;
}
.header__background-color {
    background: #000000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 2px 2px;
    align-items: center;
}
.wrapper > .header__desctop-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0px;
    width: 100%;
    z-index: 100000;
}
.wrapper > .header__desctop-wrapper > .header__desctop {
    position: -webkit-sticky;
    position: sticky;
    flex-wrap: wrap;
    width: 1360px;
    margin: 0 auto;
}
.header__margin-top {
    top: 59px;
}
.header__desctop h6 {
    color: #ffffff;
    font-weight: bold;
}
.header-big {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 65px;
}
.header-smoll {
    display: none;
    height: 80px;
    padding: 0 65px;
}
.button-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}
.button-menu-item1 {
    width: 21px;
    height: 4px;
    background: #ffffff;
}
.button-menu-item2 {
    width: 25px;
    height: 4px;
    background: #ffffff;
}
.button-menu-item3 {
    width: 18px;
    height: 4px;
    background: #ffffff;
}
.button-menu__wrapper {
    display: flex;
    justify-content: space-between;
    width: 92px;
    height: 30px;
    cursor: pointer;
}
.wrapper__search {
    width: 285px;
    height: 25px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
* {
    box-sizing: border-box;
}
.wrapper__search form {
    position: relative;
    margin: 0 auto;
}

.wrapper__search input {
    outline: none;
    border-radius: 3px;
    font-size: 14px;
    border: 0px;
    padding: 0px 4px 0px 8px;
    width: 285px;
    height: 25px;
    background-color: transparent;
    color: #ffffff;
}
.wrapper__search img {
    position: absolute;
    width: 13px;
    height: auto;
    right: 8px;
    top: 7px;
}
.customerLogo {
    background-image: url("../img/header/customerLogo-4x.png");
    width: 180px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

.theCountry {
    width: 201px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.russia {
    position: relative;
}
.kazakhstan {
    position: relative;
}
.russia:before {
    display: block;
    position: absolute;
    content: "";
    width: 70px;
    height: 4px;
    left: 0px;
    top: 20px;
    background: #ffffff;
    border-radius: 2px;
}
.kazakhstan:before {
    display: block;
    position: absolute;
    content: "";
    width: 105px;
    height: 0px;
    left: 0px;
    top: 20px;
    border: 1px dashed #ffffff;
}
.switch-language {
    position: relative;
    display: flex;
    width: 175px;
    height: 30px;
    justify-content: space-between;
}
.switch-language2 H6 {
    color: #4d8bb1;
}
#anchor-header:before,
#anchor-header img {
    content: url(../img/header/arrowToDown.svg);
    position: absolute;
    bottom: 17.8px;
    clip: rect(4px 15px 18px 0);
    left: 180px;
}
@media (max-width: 1399.98px) {
    .wrapper > .header__desctop-wrapper > .header__desctop {
        width: 1200px;
    }
}
@media (max-width: 1199.98px) {
    .wrapper > .header__desctop-wrapper > .header__desctop {
        width: 992px;
    }
    .header-big {
        display: none;
    }
    .header-smoll {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
}
@media (max-width: 991.98px) {
    .wrapper > .header__desctop-wrapper > .header__desctop {
        width: 768px;
    }
}
@media (max-width: 767.98px) {
    .wrapper > .header__desctop-wrapper > .header__desctop {
        width: 576px;
    }
    .header-smoll {
        padding: 0 10px;
    }
    .wrapper__search {
        width: 200px;
    }
    .wrapper__search input {
        width: 200px;
    }
}
@media (max-width: 575.98px) {
    .wrapper > .header__desctop-wrapper > .header__desctop {
        width: 360px;
    }
    .customerLogo {
        /* display: none; */
    }
}
@media (max-width: 400.98px) {
    .wrapper > .header__desctop-wrapper > .header__desctop {
        width: 320px;
    }
}
.menu__wrapper {
    background: #ffffff;
    padding: 65px;
    width: 100%;
    height: 1034px;
    position: absolute;
    top: 0;
}
.menu__wrapper-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.menu-title {
    margin-bottom: 20px;
}
.menu__wrapper h5 {
    color: #000000;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.menu__wrapper h6 {
    color: #646a6e;
    font-size: 14px;
    line-height: 13px;
    font-style: normal;
    font-weight: normal;
}
.munu-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 40px;
    margin-bottom: 53px;
}
.munu-top-container {
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    width: 800px;
}
.munu-top__block1 {
    width: 199px;
}
.munu-top__block2 {
    width: 195px;
}
.munu-top-phone {
    display: flex;
    justify-content: space-between;
}
.cross-button {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../img/menu/cross.svg");
    cursor: pointer;
}
.munu-top__phone-img {
    width: 19.89px;
    height: 19.93px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../img/menu/phone-4x.png");
    cursor: pointer;
}
.munu-top-text {
    margin-top: 15px;
}
.munu-top__socialNetworks-container {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
}
.munu-top__socialNetworks-img {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
}
.munu-top__socialNetworks-img1 {
    background-image: url("../img/menu/socialNetworks/4x/1-4x.png");
}
.munu-top__socialNetworks-img2 {
    background-image: url("../img/menu/socialNetworks/4x/2-4x.png");
}
.munu-top__socialNetworks-img3 {
    background-image: url("../img/menu/socialNetworks/4x/3-4x.png");
}
.munu-bottom__container {
    display: flex;
    justify-content: space-between;
}
.munu-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.munu-left1 {
    width: 316px;
}
.munu-left2 {
    width: 186px;
}
.menu-title > h5 {
    cursor: pointer;
}
.munu-left ul li {
    cursor: pointer;
}
.munu-left ul {
    margin-bottom: 65px;
}
.munu-left ul li {
    margin-bottom: 15px;
}
.line-menu {
    width: 100%;
    height: 1px;
}
.menu-right__title {
    margin-bottom: 20px;
}
.menu-right__img {
    width: 495.73px;
    height: 305px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-bottom: 25px;
}
.menu-right__img1 {
    background-image: url("../img/menu/menu-right/1-4x.jpg");
}
.menu-right__img2 {
    background-image: url("../img/menu/menu-right/2-4x.jpg");
}
.menu-right__text {
    width: 420px;
    margin-bottom: 20px;
}
.menu-right__text h6 {
    line-height: 120%;
}
.menu-right__title > h5 {
    cursor: pointer;
}
.munu-right__container-mobail {
    display: none;
}
.number-phone-absolute {
    display: none;
}

@media (max-width: 1199.98px) {
    .menu__wrapper {
        height: 700px;
    }
    .menu-li__hidden {
        display: none;
    }
    .munu-right {
        width: 100%;
    }
    .munu-right__container {
        display: flex;
        justify-content: space-between;
    }
    .menu-right__img {
        width: 300px;
        height: 195px;
    }
    .menu-right__text {
        width: 250px;
    }
}
@media screen and (max-width: 991.98px) {
    .menu__wrapper {
        padding: 32px;
    }
    .munu-top-container {
        width: 550px;
    }
    .munu-top__socialNetworks-container {
        margin-right: 0;
    }
}
@media (max-width: 767.98px) {
    .menu__wrapper {
        padding: 10px;
    }
    .munu-top-container {
        width: 520px;
    }
    .munu-top__socialNetworks-container {
        width: 80px;
    }
    .munu-right__container {
        display: block;
    }
    .munu-right__block {
        display: flex;
    }
    .menu-right__text {
        margin-left: 20px;
        margin-top: 20px;
    }
}
@media (max-width: 575.98px) {
    .munu-top {
        margin-bottom: 0;
    }
    .munu-top-container {
        display: block;
        margin-left: auto;
        margin-right: 0;
        width: 190px;
        padding-left: 90px;
    }
    .munu-top__block1,
    .munu-top__block2 {
        display: none;
    }
    .munu-top__socialNetworks-container {
        width: 100px;
    }
    .munu-top__socialNetworks-imgPhone {
        background-image: url("../img/menu/phone-4x.png");
    }
    .number-phone-absolute {
        display: block;
        position: absolute;
        width: 320px;
        height: 130px;
        top: 35px;
        left: 0px;
        background-color: #fff;
    }
    .munu-top-phone {
        width: 200px;
        margin-bottom: 10px;
    }
    .number-phone-hidden {
        display: none;
    }
    .munu-right__block {
        display: block;
    }
    .munu-right__container {
        display: none;
    }
    .munu-right__container-mobail {
        display: block;
    }
    .menu-right__text {
        margin: 0;
        width: 100%;
    }
    .menu-right__img {
        margin-bottom: 0;
    }
    .menu-right__img1 {
        background-image: url("../img/menu/menu-right/1-2x.jpg");
    }
    .menu-right__img2 {
        background-image: url("../img/menu/menu-right/2-2x.jpg");
    }
}
.main {
    position: relative;
    width: 1360px;
    height: 650px;
    background-image: url("../img/main/main-4x.jpg");
    margin: 0 auto;

    z-index: 10;
}
.main__wrapper {
    padding-top: 230px;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    margin: 0 auto;
}
.main__title {
    margin-bottom: 33px;
    padding-left: 65px;
}
.main__txt {
    width: 705px;
    margin-bottom: 63px;
    padding-left: 65px;
}
.main-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 600px;
    margin-bottom: 30px;
    padding-left: 65px;
}
.main-menu h6 {
    line-height: 120%;
    color: #ffffff;
}
.main-menu__item-1 {
    position: relative;
    width: 155px;
}
.main-menu__item-1:before {
    display: block;
    position: absolute;
    content: "";
    width: 155px;
    height: 4px;
    left: 0px;
    top: 55px;
    background: #ffffff;
    border-radius: 2px;
}
.main-menu__item-2 {
    position: relative;
    width: 145px;
}
.main-menu__item-2:before {
    display: block;
    position: absolute;
    content: "";
    width: 145px;
    height: 0px;
    left: 0px;
    top: 38px;
    border: 1px dashed #ffffff;
}
.main-menu__item-3 {
    position: relative;
    width: 130px;
}
.main-menu__item-3:before {
    display: block;
    position: absolute;
    content: "";
    width: 130px;
    height: 0px;
    left: 0px;
    top: 38px;
    border: 1px dashed #ffffff;
}
.main-down {
    margin: 0 auto;
    background-image: url("../img/main/down.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
@media screen and (max-width: 1399.98px) {
    .main {
        width: 1200px;
    }
}
@media screen and (max-width: 1199.98px) {
    .main__wrapper {
        padding-bottom: 15px;
    }
    .main {
        width: 992px;
        height: auto;
    }
    .main-menu {
        width: 400px;
        height: auto;
    }
    .main__title h1 {
        font-size: 40px;
        line-height: 110%;
    }
    .main__txt {
        width: 500px;
    }
    .main-menu__item-3 {
        margin-top: 30px;
    }
}
@media screen and (max-width: 991.98px) {
    .main {
        width: 768px;
        height: auto;
    }
}
@media (max-width: 767.98px) {
    .main {
        width: 576px;
    }
    .main__txt {
        width: 400px;
    }
}
@media (max-width: 575.98px) {
    /* .main__wrapper {
        
    } */
    .main {
        width: 360px;
        background-image: url("../img/main/main-2x.jpg");
    }
    .main__title {
        padding-left: 30px;
    }
    .main__title h1 {
        font-size: 30px;
        line-height: 105%;
    }
    .main__txt {
        width: 250px;
        padding-left: 30px;
    }
    .main-menu {
        width: 200px;
        padding-left: 30px;
    }
    .main-menu__item-2 {
        margin-top: 30px;
    }
    .munu-top__socialNetworks-imgPhone {
        background-image: url("../img/menu/phone-2x.png");
    }
    .munu-top__socialNetworks-img1 {
        background-image: url("../img/menu/socialNetworks/2x/1-2x.png");
    }
    .munu-top__socialNetworks-img2 {
        background-image: url("../img/menu/socialNetworks/2x/2-2x.png");
    }
    .munu-top__socialNetworks-img3 {
        background-image: url("../img/menu/socialNetworks/2x/3-2x.png");
    }
}
@media (max-width: 400.98px) {
    .main {
        width: 320px;
    }
}
.awardsVideoAboutUs__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 65px;
    width: 100%;
    background: #fafafa;
}
.awardsVideoAboutUs__wrapper-hidden {
    display: none;
}
.awardsVideoAboutUs__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    min-height: 275px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin: 65px 0;
}
.awardsVideoAboutUs__wrapper h6 {
    line-height: 140%;
    color: rgba(33, 42, 48, 0.7);
}
.awardsVideoAboutUs__block {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 430px;
}
.awardsVideoAboutUs__block3 {
    width: 390px;
    margin: 0 auto;
}
.awardsVideoAboutUs__img {
    width: 75px;
    height: 75px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15);
    border-radius: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.awardsVideoAboutUs__img:hover {
    border: 1px solid rgba(0, 94, 150, 0.6);
    box-shadow: 0px 0px 18px #1b74a9;
}
.awardsVideoAboutUs__img:active {
    background: #1b74a9;
    border: 3px solid rgba(0, 0, 0, 0.35);
}
.awardsVideoAboutUs__img:active .awardsVideoAboutUs__img-1 {
    background-image: url("../img/awardsVideoAboutUs/awards-img-white-4x.png");
}
.awardsVideoAboutUs__img:active .awardsVideoAboutUs__img-2 {
    background-image: url("../img/awardsVideoAboutUs/video-img-white-4x.png");
}
.awardsVideoAboutUs__img-1 {
    background-image: url("../img/awardsVideoAboutUs/awards-img.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.awardsVideoAboutUs__img-2 {
    background-image: url("../img/awardsVideoAboutUs/video-img.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.awardsVideoAboutUs__title-text {
    width: 315px;
}
.awardsVideoAboutUs__text3 {
    margin-bottom: 9.93px;
}
.awardsVideoAboutUs__title {
    margin-bottom: 10px;
}
.awardsVideoAboutUs__title3 {
    margin-bottom: 14.89px;
}
.awardsVideoAboutUs__block3-text {
    width: 157px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16.88px;
}
.AboutUs__block3-text a {
    font-size: 12px;
    text-transform: uppercase;
    color: #005e96;
    display: inline-block;
    line-height: 1;
}
.awardsVideoAboutUs__block3-text a:after {
    display: block; /*превращаем его в блочный элемент*/
    content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
    height: 3px; /*задаём высоту линии*/
    width: 0%; /*задаём начальную ширину элемента (линии)*/
    background-color: #005e96; /*цвет фона элемента*/
    transition: width 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}
.awardsVideoAboutUs__block3-text a:hover:after,
.awardsVideoAboutUs__block3-text a:focus:after {
    width: 100%;
}
.AboutUs__block3-text {
    width: 135px;
}
.awardsVideoAboutUs-arrow {
    background-image: url("../img/awardsVideoAboutUs/arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 12px;
    height: 7.94px;
}
@media screen and (max-width: 1399.98px) {
    .awardsVideoAboutUs__wrapper {
        padding: 30px 65px;
    }
}
@media screen and (max-width: 1399px) {
    .awardsVideoAboutUs__block3 {
        width: 500px;
    }
    .awardsVideoAboutUs__container {
        width: 1100px;
        margin: 15px 0;
    }
    .awardsVideoAboutUs__block3 {
        width: 700px;
    }
}
@media screen and (max-width: 991.98px) {
    .awardsVideoAboutUs__wrapper {
        padding: 30px 35px;
    }
    .awardsVideoAboutUs__block3 {
        width: 300px;
    }
}
@media (max-width: 767.98px) {
    .awardsVideoAboutUs__wrapper {
        padding: 30px 0px;
    }
    .awardsVideoAboutUs__container {
        width: 300px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .awardsVideoAboutUs__title-text {
        width: 130px;
        padding-right: 5px;
    }
    .awardsVideoAboutUs__block {
        width: 100%;
    }
    .awardsVideoAboutUs__title-text {
        width: 200px;
    }
    .awardsVideoAboutUs__img {
        margin: 5px;
    }
    .awardsVideoAboutUs__block3 {
        padding: 0 10px;
    }
}
@media (max-width: 575.98px) {
    .awardsVideoAboutUs__img-1 {
        background-image: url("../img/awardsVideoAboutUs/awards-img-2x.png");
    }
    .awardsVideoAboutUs__img-2 {
        background-image: url("../img/awardsVideoAboutUs/video-img-2x.png");
    }
}
.project {
    width: 100%;
    height: 449px;
    background-image: url("../img/project/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 65px;
    padding-left: 65px;
    padding-right: 65px;
}
.project__title {
    margin-bottom: 65px;
    margin-left: 65px;
}
.swiper1 {
    margin: 0 auto;
}
.project__block {
    position: relative;
    width: 390px;
    height: 235px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.gazprom {
    background-image: url("../img/project/gazprom-4x.jpg");
}
.puddles {
    background-image: url("../img/project/puddles-4x.jpg");
}
.airport {
    background-image: url("../img/project/airport-4x.jpg");
}
.project__block-title {
    position: absolute;
    width: 165px;
    height: 30px;
    left: 0px;
    bottom: 19px;
    background: #005e96;
    border-radius: 0px 2px 2px 0px;
    text-align: center;
    padding-top: 5px;
}
.project__block-title h5 {
    color: #ffffff;
}
.swiper1 {
    height: 290px;
}
.swiper1 .swiper-pagination {
    top: 250px;
}
@media screen and (max-width: 1399px) {
    .project__block {
        margin: 0 auto;
    }
}
@media screen and (max-width: 1200.98px) {
    .project__block {
        margin: 0 auto;
    }
    .swiper1 .swiper-button-prev {
        left: 0px;
    }
    .swiper1 .swiper-button-next {
        right: 0px;
    }
}
@media (max-width: 1000.98px) {
    .project__block {
        margin: 0 auto;
    }
    .swiper1 .swiper-button-prev {
        left: 50px;
    }
    .swiper1 .swiper-button-next {
        right: 50px;
    }
}
@media (max-width: 767.98px) {
    .swiper1 .swiper-button-prev {
        top: 260px;
        left: 80px;
    }
    .swiper1 .swiper-button-next {
        top: 260px;
        right: 80px;
    }
}
@media (max-width: 575.98px) {
    .project {
        padding-left: 10px;
        padding-right: 10px;
        background-image: url("../img/project/background-2x.jpg");
    }
    .project__block {
        width: 100%;
    }
    .swiper1 {
        height: 210px;
    }
    .project__block-title {
        bottom: 40px;
    }
    .gazprom {
        background-image: url("../img/project/gazprom-2x.jpg");
    }
    .puddles {
        background-image: url("../img/project/puddles-2x.jpg");
    }
    .airport {
        background-image: url("../img/project/airport-2x.jpg");
    }
}
.partners__wrapper {
    background: #fafafa;
    width: 100%;
    padding: 65px;
}
.partners {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 2px;
    padding-top: 65px;
}
.partners__title {
    margin-bottom: 10px;
    padding-left: 105px;
}
.partners__text {
    margin-bottom: 38px;
    padding-left: 105px;
}
.partners__text h6 {
    line-height: 140%;
    color: rgba(33, 42, 48, 0.7);
}
.partners__block {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 136px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.partners__block1 {
    background-image: url("../img/partners/1-4x.png");
}
.partners__block2 {
    background-image: url("../img/partners/2-4x.png");
}
.partners__block3 {
    background-image: url("../img/partners/3-4x.png");
}
.partners__block4 {
    background-image: url("../img/partners/4-4x.png");
}
.partners__block5 {
    background-image: url("../img/partners/5-4x.png");
}
.partners__block6 {
    background-image: url("../img/partners/6-4x.png");
}
.partners__block7 {
    background-image: url("../img/partners/7-4x.png");
}
.swiper2 {
    height: 115px;
    margin-right: 42px;
    margin-left: 42px;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    color: #000000;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    color: #000000;
}
.swiper-pagination span {
    background-color: #000000;
}
.swiper2-button-hidden {
    display: none;
}
.swiper2 .swiper-button-prev {
    top: 30px;
    /* left: 20px; */
}
.swiper2 .swiper-button-next {
    top: 30px;
    /* right: 0px; */
}
@media (max-width: 1399.98px) {
    .swiper2-button-hidden {
        display: block;
    }
}
@media (max-width: 767.98px) {
    .partners__title {
        padding-left: 30px;
    }
    .partners__text {
        padding-left: 30px;
    }
}
@media (max-width: 575.98px) {
    .partners__wrapper {
        padding: 65px 20px;
    }
    .partners__title {
        padding-left: 10px;
    }
    .partners__text {
        padding-left: 10px;
    }
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
    .partners__block1 {
        background-image: url("../img/partners/1-2x.png");
    }
    .partners__block2 {
        background-image: url("../img/partners/2-2x.png");
    }
    .partners__block3 {
        background-image: url("../img/partners/3-2x.png");
    }
    .partners__block4 {
        background-image: url("../img/partners/4-2x.png");
    }
    .partners__block5 {
        background-image: url("../img/partners/5-2x.png");
    }
    .partners__block6 {
        background-image: url("../img/partners/6-2x.png");
    }
    .partners__block7 {
        background-image: url("../img/partners/7-2x.png");
    }
}
.footer {
    background: #000000;
    padding: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-title {
    margin-bottom: 20px;
}
.footer-title h5 {
    color: #ffffff;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.footer h6 {
    color: #ffffff;
    /* line-height: 140%; */
    line-height: 13px;
    font-style: normal;
    font-weight: normal;
}
.footer ul {
    margin-bottom: 65px;
}
.footer ul li {
    margin-bottom: 15px;
}
.footer-pressCenter__container {
    display: flex;
    justify-content: space-between;
    width: 482px;
}
.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.socialNetworks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 140px;
    margin: 10px;
}
.socialNetworks__block {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.socialNetworks__block1 {
    background-image: url("../img/footer/social-networks/4x/1-4x.png");
}
.socialNetworks__block2 {
    background-image: url("../img/footer/social-networks/4x/2-4x.png");
}
.socialNetworks__block3 {
    background-image: url("../img/footer/social-networks/4x/3-4x.png");
}
.socialNetworks__block4 {
    background-image: url("../img/footer/social-networks/4x/4-4x.png");
}
.footer-companyName {
    width: 141px;
    text-align: center;
    height: 13px;
    padding-top: 15px;
}
@media (max-width: 575.98px) {
    .footer {
        padding: 10px;
    }
    .footer-bottom {
        justify-content: center;
    }
    .socialNetworks {
        margin-bottom: 20px;
    }
    .footer-pressCenter__container {
        flex-wrap: wrap;
        width: 100%;
    }
    .menu-li-footer__hidden {
        display: none;
    }
    .socialNetworks__block1 {
        background-image: url("../img/footer/social-networks/2x/1-2x.png");
    }
    .socialNetworks__block2 {
        background-image: url("../img/footer/social-networks/2x/2-2x.png");
    }
    .socialNetworks__block3 {
        background-image: url("../img/footer/social-networks/2x/3-2x.png");
    }
    .socialNetworks__block4 {
        background-image: url("../img/footer/social-networks/2x/4-2x.png");
    }
}
.developers {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* margin-top: 50px; */
}
.developers h6 {
    font-size: 8px;
    color: #ffffff;
}
.designer {
    text-align: left;
}
.layout-designer {
    text-align: right;
}
@media screen and (max-width: 1399.98px) {
    .developers {
        margin-top: 0;
    }
}
@media screen and (max-width: 767.98px) {
    .developers {
        margin-top: 60px;
    }
    .developers h6 {
        font-size: 12px;
    }
}

/*......................................ШРИФТЫ.........................*/
@font-face {
    font-family: "gothamPro__black";
    src: url("../fonts/gothamPro/gothampro_black.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "gothamPro__bold";
    src: url("../fonts/gothamPro/gothampro_bold.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "gothamPro__light";
    src: url("../fonts/gothamPro/gothampro_light.ttf");
    font-style: normal;
    font-weight: normal;
}
