@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    /* height: 100%; */
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* overflow-x: hidden; */
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*----------------------------------------------------------------------------------------------------*/
body {
    margin: 0 auto;
    font-family: "gothamPro__light";
    overflow-x: hidden;
}
h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
}
h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    color: #ffffff;
}
h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.wrapper {
    position: relative;
    width: 1360px;
    margin: 0 auto;
}
@media screen and (max-width: 1399.98px) {
    .wrapper {
        width: 1200px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1199.98px) {
    .wrapper {
        width: 900px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 700px;
    }
}
@media (max-width: 767.98px) {
    .wrapper {
        width: 560px;
    }
}
@media (max-width: 575.98px) {
    .wrapper {
        width: 360px;
    }
}
.header_hidden {
    /* display: none; */
    transform: translateY(-100%);
    /* transition: 1s; */
}
.header__margin-top {
    top: 59px;
}
.header__background-color {
    background: #000000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 2px 2px;
    align-items: center;
}
.wrapper > .header__desctop-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0px;
    width: 100vw;
    z-index: 100000;
}
.wrapper > .header__desctop-wrapper > .header__desctop {
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
    position: -webkit-sticky;
    position: sticky;
    flex-wrap: wrap;
    width: 1360px;
    height: 80px;
    position: fixed;
    margin: 0 auto;
    margin-right: 17px;
}
.header__desctop h6 {
    color: #ffffff;
    font-weight: bold;
}
.button-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}
.button-menu-item1 {
    width: 21px;
    height: 4px;
    background: #ffffff;
}
.button-menu-item2 {
    width: 25px;
    height: 4px;
    background: #ffffff;
}
.button-menu-item3 {
    width: 18px;
    height: 4px;
    background: #ffffff;
}
.button-menu__wrapper {
    display: flex;
    justify-content: space-between;
    width: 92px;
    height: 30px;
}
.wrapper__search {
    width: 285px;
    height: 25px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
* {
    box-sizing: border-box;
}
form {
    position: relative;

    margin: 0 auto;
}
input,
button {
    border: none;
    outline: none;
    border-radius: 3px;
}
input {
    width: 100%;
    font-size: 14px;
    border: 0px;
    padding: 0px 4px 0px 8px;
    width: 285px;
    height: 25px;
    background-color: transparent;
    color: #ffffff;
}
button {
    width: 20px !important;
    height: auto;
    padding: 3px 2px 2px 2px !important;
    position: absolute;
    top: px;
    right: 8px;
    cursor: pointer;
    /* background-color: #fff; */
}
.wrapper__search img {
    position: absolute;
    width: 13px;
    height: auto;
    right: 8px;
    top: 7px;
}
.customerLogo {
    background-image: url("../img/header/customerLogo-4x.png");
    width: 180px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.theCountry {
    width: 201px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.russia {
    position: relative;
}
.kazakhstan {
    position: relative;
}
.russia:before {
    display: block;
    position: absolute;
    content: "";
    width: 70px;
    height: 4px;
    left: 0px;
    top: 20px;
    background: #ffffff;
    border-radius: 2px;
}
.kazakhstan:before {
    display: block;
    position: absolute;
    content: "";
    width: 105px;
    height: 0px;
    left: 0px;
    top: 20px;
    border: 1px dashed #ffffff;
}
.switch-language {
    position: relative;
    display: flex;
    width: 175px;
    height: 30px;
    justify-content: space-between;
    margin-right: 20px;
}
.switch-language2 H6 {
    color: #4d8bb1;
}
#anchor-header:before,
#anchor-header img {
    content: url(../img/header/arrowToDown.svg);
    position: absolute;
    bottom: 17.8px;
    clip: rect(4px 15px 18px 0);
    left: 180px;
}
@media (max-width: 575.98px) {
    .wrapper > .header__desctop-wrapper > .header__desctop {
        width: 360px;
    }
}

@media (max-width: 767.98px) {
    .wrapper > .header__desctop-wrapper > .header__desctop {
        width: 560px;
    }
}

@media (max-width: 991.98px) {
    .wrapper > .header__desctop-wrapper > .header__desctop {
        width: 700px;
    }
}

@media (max-width: 1199.98px) {
    .wrapper > .header__desctop-wrapper > .header__desctop {
        width: 900px;
    }
}

@media (max-width: 1399.98px) {
    .wrapper > .header__desctop-wrapper > .header__desctop {
        width: 1200px;
    }
}
.main {
    position: relative;
    width: 1360px;
    height: 650px;
    background-image: url("../img/main/main-4x.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;

    z-index: 10;
}
.main__wrapper {
    padding-top: 230px;
    padding-left: 65px;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    margin: 0 auto;
}
.main__title {
    margin-bottom: 33px;
}
.main__txt {
    width: 705px;
    margin-bottom: 63px;
}
.main-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 600px;
    margin-bottom: 30px;
}
.main-menu h6 {
    line-height: 120%;
    color: #ffffff;
}
.main-menu__item-1 {
    position: relative;
    width: 155px;
}
.main-menu__item-1:before {
    display: block;
    position: absolute;
    content: "";
    width: 155px;
    height: 4px;
    left: 0px;
    top: 55px;
    background: #ffffff;
    border-radius: 2px;
}
.main-menu__item-2 {
    position: relative;
    width: 145px;
}
.main-menu__item-2:before {
    display: block;
    position: absolute;
    content: "";
    width: 145px;
    height: 0px;
    left: 0px;
    top: 38px;
    border: 1px dashed #ffffff;
}
.main-menu__item-3 {
    position: relative;
    width: 130px;
}
.main-menu__item-3:before {
    display: block;
    position: absolute;
    content: "";
    width: 130px;
    height: 0px;
    left: 0px;
    top: 38px;
    border: 1px dashed #ffffff;
}
.main-down {
    margin: 0 auto;
    background-image: url("../img/main/down.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 25px;
    height: 25px;
}
@media (max-width: 575.98px) {
    .main__wrapper {
        padding-left: 30px;
    }
    .main {
        width: 360px;
    }
    .main__title h1 {
        font-size: 30px;
        line-height: 105%;
    }
    .main__txt {
        width: 300px;
    }
    .main-menu {
        width: 200px;
    }
    .main-menu__item-2 {
        margin-top: 30px;
    }
}
@media (max-width: 767.98px) {
    .main {
        width: 560px;
    }
    .main__txt {
        width: 400px;
    }
}
@media screen and (max-width: 991.98px) {
    .main {
        width: 700px;
        height: auto;
    }
}
@media screen and (max-width: 1199.98px) {
    .main__wrapper {
        padding-bottom: 15px;
    }
    .main {
        width: 900px;
        height: auto;
    }
    .main-menu {
        width: 400px;
        height: auto;
    }
    .main__title h1 {
        font-size: 40px;
        line-height: 110%;
    }
    .main__txt {
        width: 500px;
    }
    .main-menu__item-3 {
        margin-top: 30px;
    }
}
@media screen and (max-width: 1399.98px) {
    .main {
        width: 1200px;
    }
}

.awardsVideoAboutUs__container {
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
    width: 100%;
}
.awardsVideoAboutUs__block {
    width: 600px;
    min-height: 275px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin: 65px 0;
}
.awardsVideoAboutUs__container {
    padding: 0 55px;
}
@media screen and (max-width: 1378px) {
    .awardsVideoAboutUs__block {
        width: 520px;
    }
}
.developers {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.developers h6 {
    font-size: 8px;
    color: #3b4472;
}
@media screen and (min-width: 768px) {
    .developers {
        margin-top: 60px;
    }
    .developers h6 {
        font-size: 12px;
    }
}
@media screen and (min-width: 1378px) {
    .developers {
        margin-top: 0;
    }
}

/*......................................ШРИФТЫ.........................*/
@font-face {
    font-family: "gothamPro__black";
    src: url("../fonts/gothamPro/gothampro_black.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "gothamPro__bold";
    src: url("../fonts/gothamPro/gothampro_bold.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "gothamPro__light";
    src: url("../fonts/gothamPro/gothampro_light.ttf");
    font-style: normal;
    font-weight: normal;
}
